extends layout

block navi-content
	li
		a(href="/")
			i.fa.fa-dashboard.fa-lg
			span 전체 현황
	li
		a(href="mother")
			i.fa.fa-edit.fa-lg
			span 임신사
	li.active
		a(href="inventory")
			i.fa.fa-edit.fa-lg
			span 재고 관리
	li
		a(href="monitor")
			i.fa.fa-signal.fa-lg
			span 돈사 모니터
			
block footer-extra
	script(src='js/task.js')
	script(src='js/inventory.js')

mixin row-sample2-up(name, percentage)
	tr
		block
		td #{name}
		td.text-success
			i.fa.fa-level-up
			|	#{percentage}
		td.text-right
			.btn-group
				a.dropdown-toggle(href='#', data-toggle='dropdown')
					i.fa.fa-pencil
				ul.dropdown-menu.pull-right
					li
						a(href='#') Action
					li
						a(href='#') Another action
					li
						a(href='#') Something else here
					li.divider
					li
						a(href='#') Separated link

mixin row-sample2-down(name, percentage)
	tr
		block
		td #{name}
		td.text-warning
			i.fa.fa-level-down
			|	#{percentage}
		td.text-right
			.btn-group
				a.dropdown-toggle(href='#', data-toggle='dropdown')
					i.fa.fa-pencil
				ul.dropdown-menu.pull-right
					li
						a(href='#') Action
					li
						a(href='#') Another action
					li
						a(href='#') Something else here
					li.divider
					li
						a(href='#') Separated link

block content
	section#content
		section.main.padder
			.clearfix
				h4
					i.fa.fa-table
					| Table
					input#date-selector.input-sm.form-control.datepicker(size='16', type='text', value=moment().format('YYYY-MM-DD'), data-date-format='yyyy-mm-dd')
			.row
				.col-lg-12
					section.panel
						header.panel-heading
							span.label.bg-danger.pull-right 4 Left
							| 돈사이동
						.table-responsive
							table.table.table-striped.m-b-none.text-small.data-table
								thead
									tr
										th _id
										th 이동 전 돈방
										th 주차
										th 두수
										th 이동 후 돈방
										th(width='70')
								tbody#relocation
			.row
				.col-lg-12
					section.panel
						header.panel-heading
							span.label.bg-danger.pull-right 4 Left
							| 재고현황
						.table-responsive
							table.table.m-b-none.text-small
								thead
									tr
										th _id
										th 날짜
										th 돈방
										th 주차
										th 두수
										th(width='70')
								tbody#daily
